%table.table.table-hover
  %thead
    %th
      Name
    %th
      Queue
    %th
      Connects
    %th
      Payload
    %th
      Fake
    %th
      Enable
    %th
      Server status

  %tbody.channel
    - @channels.each do |channel|
      %tr
        %td
          = link_to channel.name, channels_messages_index_path(channel_id: channel.id)
        %td
          = channel.queue_name
        %td
          = channel.channel_connections.length
        %td
          = yes_no_label_tag(channel.is_payload)
        %td
          = yes_no_label_tag(channel.is_fake)
        %td
          = yes_no_label_tag(channel.is_enable, 'ENABLE', 'DISABLE')
        %td
          not implemented

:javascript
  $(document).ready( function() {
    tableChannelClickRedirect();
    $("[type='checkbox']").bootstrapSwitch();
  });
