= form_tag admin_channels_list_path, method: :get, class: "form-inline" do
  .form-group
    = text_field_tag :search, params[:search], class: "form-control", placeholder: "name or queue"
  = button_tag name: nil, class:"btn btn-default btn-primary" do
    %span.glyphicon.glyphicon-search
    Search
  = link_to admin_channels_list_path, class:"btn btn-default" do
    %span.glyphicon.glyphicon-refresh
    Clear

%table.table.table-hover
  %thead
    %th
      Name
    %th
      Queue
    %th
      Connects
    %th
      Payload
    %th
      Fake
    %th
      Enable

  %tbody.channel
    - @channels.each do |channel|
      %tr
        %td
          = link_to channel.name, admin_channels_edit_path(channel.id)
        %td
          = channel.queue_name
        %td
          = channel.channel_connections.length
        %td
          = yes_no_label_tag(channel.is_payload)
        %td
          = yes_no_label_tag(channel.is_fake)
        %td
          = yes_no_label_tag(channel.is_enable, 'ENABLE', 'DISABLE')

= paginate @channels
