
= paginate @messages

%table.table.table-hover
  %thead
    %th
      id
    %th
      status
    %th
      message_id
    %th
      addr_from
    %th
      addr_to
    %th
      message_data
    %th
      send_retry
    %th
      error_code

  %tbody.channel_message
    - @messages.each do |message|
      %tr
        %td
          = link_to message.id, channels_messages_show_path(message.channel, message)
        %td
          = message_status_label_tag(message.message_status.name)
        %td
          = link_to message.message_id, "#"
        %td
          - if message.addr_from
            = message.addr_from
          - else
            = message.channel.smpp_source_addr
        %td
          = message.addr_to
        %td.message-data
          .header
            .first-item
              seq_num:
              = message.sequence_number
            .item
              esm_class:
              = message.esm_class
            .item
              is_playload:
              = yes_no_label_tag(message.is_payload)
          .data
            - if message.is_payload or message.esm_class == 0
              = message.get_utf_message_data
            - else
              %span.label.label-info
                = message.get_utf_message_data[0]
              &nbsp;
              = message.get_utf_message_data[1]
        %td
          = message.send_retry
        %td
          = message.error_code


= paginate @messages